* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
  
/* ---------------------Manu----------------------------------- */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    background-color: rgb(77, 75, 76);
}

ul{
    display: flex;   
}

ul li {
    list-style: none;
    padding:10px 20px;
    margin-right: 2px;
}

ul li:hover{
    transform: scale(1.1);
    transition: 0.9s ease;
    border-radius: 5px;
    background-color: rgb(7, 132, 250);
    border: none;
}

ul li a{
    text-decoration: none;
    color: rgb(253, 250, 250);
}

.active{
    background-color: rgb(21, 21, 245);
}

button{
    padding: 8px 16px;
    border: none;                                                                                 
    color: #eee;
    background-color: #370ada;
    border-radius: 20px;
    margin-left: 20%;

}

/* ---------------------------Body home------------------------ */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 2rem;
}

.images{
    margin-top: 20px;

    margin-right: 3rem;
}
.image1{
    width: 40%;
}

h3{
    font-size: 30px;
}
/* ------------------------Body About--------------------- */

.containers{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card-1{
    border: 1px solid wheat;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(170, 167, 167);
    margin-top: 10px;
}

img{
    width: 80%;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 5px;
}

.card-1 h4{
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}

.group-item2{
    line-height: 30px;
    margin-left: 10px;
}

.group-item2 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.group-item2 .fa-map-marker{
    margin-right: 5px;
    font-size: 20px;
}


.card-2{
    margin-left: 20px;
    
}

.card-3{
    width: 70%;
}

.card-2 h4{
    background-color: pink;
    margin-top: 10px;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.card-2 p{
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
}

.card-2 span{
    font-size: large;
    font-weight: bold;
}

.group-item3{
    display: flex;
}

.design{
    border: 1px solid ;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.design img{
    height: 130px;

}

.development{
    border: 1px solid ;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.development img{
    height: 130px;
    margin-left: 50px;
}

h5{
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/* ------------------------body habits--------------------------------- */
.habit{
    display: flex;
    margin-top: 5%;
    
}

.card-item1{
    width: 50%;
    border: 1px solid black;
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-item1 img {
    width: 200px;
    margin-left: 80px;
}

h3{
    justify-content: center;
    text-align: center;
    color: rgb(13, 13, 15);
    margin-top: 3%;
    font-family: 'Merriweather', serif;
}

.card-item1 p{
    font-size: 13px;
    margin-left: 10px;
}

/* ----------------------Body contact----------------------------------- */
.contact{
    display: flex;
    flex-wrap: wrap;
}

.group-item1{
    width: 25%;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(161, 153, 155);
    border-radius: 5px;
    border: none;
    margin-left: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.group-item1 h4{
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}

.group-item1 .fa{
    margin-left: 5 0%;
    color: white;
    border: 1px solid black;
    border: none;
    background-color: rgb(7, 62, 214);
    width:20px;
}

.group-item1 p{
    font-size: 0.7rem;
    justify-content: center;
    text-align: center;
}

.form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 10px;
}

form {
    width: 45%;
    border: 1px solid #ccc;
    background-color: rgb(175, 173, 173);
    padding: 1rem;
    border-radius: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
select {
    width: 100%;
    height: 2.6em;
    font: 1em "Segoe UI";
    border-radius: 0.3em;
    margin-top: 5px;
    border: none;
    
}

input[type="submit"] {
    background-color: blue;
}

textarea {
    width: 100%;
    height: 5em;
    border-radius: 0.3em;
    margin-top: 5px;
    border: none;
}

/* .group-item1{
    width: 25%;
    padding: 40px;
    margin-top: 20px;
} */

.map{
    width: 48%;
    margin-left: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    border: none;
}

/* --------------------------Footer--------------------------- */

footer{
    background-color: black;
    margin-top: 5%;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    color: white;
}

.icon-social{
    display: block;
    color: rgb(47, 47, 253);
}

.icon-social h4{
    color: #eee;
}

.icon-social a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.group-icon a{
    text-decoration: none;
    color:#eee;
    font-size: 13px;
}

.icon-email i{
    font-size: 15px;
}

.group-item a{
    color: #eee;
}


/* --------------------Responsive----------------------- */
@media (max-width:860px){
    /* ---------------home-------------------------- */
    .body{
        display: flex;
        flex-wrap: wrap;
    }
    .image1{
        width: 100%;
    }
    .container{
        width: 100%;
    }

    .aling-center{
        display: flex;
        justify-content: center;   
    }

  

    /* ---------------------about------------------------ */
    .card-1,
    .card-2,
    .design,
    .development{
        width: 100%;
    }
    .containers{
        display: flex;
        flex-wrap: wrap;
    }

    .group-item3{
        display: flex;
        flex-wrap: wrap;
    }

    /* ----------------------habit--------------------------- */
    .habit{
        display: flex;
        flex-wrap: wrap;
    }

    .card-item1{
        width: 100%;
    }

    .card-item1 img{
        margin-left: 30%;
    }

    /* -------------------------contact------------------ */
    .group-item1,
    form,
    .map{
        width: 100%;
    }
}

@media (max-width:428px){
    .manu ul{
        background-color: rgb(80, 78, 78);
        display: block;
        width: 100%;
        padding: 0.5rem;
    }
    
    .image1{
        width: 100%;
    }

    .card-2 h4{
        font-size: 15px;
        width: 30%;
    }

/* --------------------footer------------------------ */
    /* .langue, */
    /* .interest,
    .contact{
        width: 100%;
        text-align: center;
    }
    footer{
        flex-wrap: wrap;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .aling-center{
        display: flex;
        justify-content: center;
        align-items: center;   
    } */
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: black;
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    footer .footer .langue{
         width: 100%;
        display: inline-block;
        margin-left: 100px;
    }
    footer .footer .interest{
        width: 100%;
       display: inline-block;
       margin-left: 100px;
   }
    
    footer .footer .contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}